config TOUCHSCREEN_VITURALSAR_E7
	bool "Vitural Sar series"
	depends on I2C
	help
	  Say Y here if you have a Vituralsar touchscreen.
	  Vituralsar controllers are multi touch controllers which can
	  report 5 touches at a time.

          If unsure, say N.
