config TOUCHSCREEN_FT5435_MI
       tristate "FocalTech touchscreens"
       depends on I2C
       help
         Say Y here if you have a ft5435 touchscreen.
         Ft5435 controllers are multi touch controllers which can
         report 5 touches at a time.

         If unsure, say N.

         To compile this driver as a module, choose M here: the
         module will be called ft5435_ts.
